---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
      {% if post.link %}
          <h3 class="linktitle"><a href="{{ post.link }}">{% if post.link %}{{ post.title }}{% else %}{{ post.url }}{% endif %}</a>&nbsp;<a href="{{ post.url }}" title="Enlace permanente a: '{{ post.title }}'" class="infin">∞</a></h3>
        {% else %}
          <h1 class="post-title"><a href="{{ post.url }}">{% if post.title %}{{ post.title }}{% else %}{{ post.title }}{% endif %}</a></h1>{% endif %}
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <div class="tweet-button">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="sintomatico" data-url="http://miguelcarvajal.es{{ post.url }}" data-text="{{ post.title }}:">Tweet</a>
    </div>

      {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Anterior</a>
  {% else %}
    <span class="pagination-item older">Anterior</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Siguiente</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Siguiente</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Siguiente</span>
  {% endif %}
</div>