<div class="row pt-1">
<blockquote class="blockquote mb-5">
  <p class="mb-0"><strong>Profesor de Periodismo</strong> en la Universidad Miguel Hernández. Leo y escribo sobre modelos de negocio y proyectos periodísticos. Mi misión es comprender los cambios para preservar el periodismo que importa. Doctor en Empresa Informativa (2006), con dos sexenios de investigación y un sexenio de transferencia reconocidos. <strong>Dirijo el Máster en Innovación en Periodismo</strong>.</p>
</blockquote>
</div>

