<div class="row pt-2">
<blockquote class="blockquote mb-5">
  <p class="mb-0"><strong class="d-inline-block text-secondary">Profesor en la Universidad Miguel Hernández</strong> y director del Máster en Innovación en Periodismo. Mi actividad profesional se divide entre la docencia, la investigación y, cuando puedo, la transferencia de conocimientos a la profesión. Estoy enfocado en la búsqueda de modelos periodísticos que funcionen. Doctor en Periodismo por la Universidad de Navarra (2006), actualmente doy clase de varias materias relacionadas con el diseño y la creación de proyectos periodísticos.
</p>
</blockquote>
</div>

