<div class="row pt-1">
<blockquote class="blockquote mb-5">
  <p class="mb-0"><strong>Profesor Titular de Periodismo</strong> en la Universidad Miguel Hernández. Desde que defendí mi tesis en 2006, he tenido una misión clara: <strong>comprender los cambios para preservar el periodismo que importa</strong>. Acredito cuatro sexenios concedidos por la CNEAI, tres de investigación (2007-2012, 2013-2018, 2019-2024) y uno de transferencia (2013-2018). Dirijo el Máster en Innovación en Periodismo (desde 2013), el Grupo de Investigación en Comunicación de la Universidad Miguel Hernández de Elche (desde 2022) y lidero el proyecto de investigación "Novacult" (PID 2022), financiado por el Ministerio de Ciencia e Innovación.</p>
</blockquote>
</div>

