<!doctype html>
<html lang="es" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="periodismo, universidad, innovación, máster, educación, elche, emprendedores">
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-3.3.1.slim.min.js"></script>

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include no-js.html %}
    
  </head>
