<!doctype html>
<html lang="es" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="periodismo, universidad, innovación, máster, educación, elche, emprendedores">
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include no-js.html %}
    
    {% include quizjs.html %}

  </head>