<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.authors }}">
    <meta name="description" content="Miguel Carvajal, profesor de periodismo en la Universidad Miguel Hernández">
    <meta name="author" content="Miguel Carvajal">
    <meta name="keywords" content="periodismo, universidad, innovación, máster, educación, elche, emprendedores">
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include no-js.html %}

  </head>