<nav class="navbar navbar-expand-md p-3 px-md-4 fixed-top navbar-light bg-white border-bottom shadow-sm">
<img class="mr-3 rounded-circle" src="assets/images/carvajal.png" alt="Miguel Carvajal" width="40" height="40">  
  <a class="navbar-brand" href="{{ site.baseurl }}/">Miguel Carvajal<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <a class="nav-link" href="investigar.html">Investigar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="enseñar.html">Enseñar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="transformar.html">Transformar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="english-bio.html">English Bio</a>
      </li>
    </ul>
  </div>
</nav>
