<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted"> Copyright © {{ site.time | date: "%Y" }} · <strong> {{ site.title }}</strong></small>
    </div>
    <div class="col-6 col-md">
      <h5>Investigar</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/investigar.html#artículos-en-revistas-científicas-indexadas-16">Articulos</a></li>
        <li><a class="text-muted" href="/investigar.html#libros-6-y-capítulos-de-libros-20">Libros</a></li>
        <li><a class="text-muted" href="/investigar.html#comunicaciones-en-congresos-científicos-25">Congresos</a></li>
        <li><a class="text-muted" href="/investigar.html#proyectos-9">Proyectos</a></li>
        <li><a class="text-muted" href="/investigar.html#otros-m%C3%A9ritos-de-investigaci%C3%B3n">Otros méritos</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Enseñar</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/ense%C3%B1ar.html#asignaturas-impartidas">Asignaturas</a></li>
        <li><a class="text-muted" href="/ense%C3%B1ar.html#direcci%C3%B3n-de-tesis-doctorales-tfm-y-tfg">Dirección</a></li>
        <li><a class="text-muted" href="/ense%C3%B1ar.html#otros-m%C3%A9ritos-docentes">Otros méritos</a></li>
        <li><a class="text-muted" href="/ense%C3%B1ar.html#desempe%C3%B1o-de-cargos-en-gesti%C3%B3n-universitaria">Gestión</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Transformar</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="http://mip.umh.es/ranking/">Ranking Innovación</a></li>
        <li><a class="text-muted" href="http://diccionariodelcliche.umh.es/">Diccionario cliché</a></li>
        <li><a class="text-muted" href="http://periodistasdedatos.com/">Periodistas de datos</a></li>
        <li><a class="text-muted" href="https://localdatalab.umh.es/">Local Data Lab</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Enlaces</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.umh.es/">UMH</a></li>
        <li><a class="text-muted" href="https://mip.umh.es/">Máster Periodismo</a></li>
        <li><a class="text-muted" href="http://periodismo.umh.es/">Periodismo UMH</a></li>
      </ul>
    </div>
  </div>
</footer>