.article-post {
     margin:0 0 1.5rem 0;
     max-width: 46rem;
     margin-left: auto;
     margin-right: auto;
     font-family: "PT Serif", Georgia, "Times New Roman", serif;
     font-size: 1.05rem;
 }

.article-post img {
    max-width: 100%;
    height: auto;
    margin-right: auto!important;
    margin-left: auto!important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
 }

@media (min-width: 38rem) {
  .article-post {
    font-size: 20px;
  }
}
