{% include header.html %}

<body class="bg-light" cz-shortcut-listen="true">

	{% include nav.html %}

	<div class="jumbotron jumbotron-fluid mb-0 bg-dark pt-2 pb-2">
		<div class="container">
			<h2 class="text-white display-3">{{ page.title }}</h2>
		</div>
	</div>

	<div class="nav-scroller bg-white shadow-sm">
		<nav class="nav nav-underline justify-content-center">
			<a class="nav-link active" href="#">Dashboard</a>
			<a class="nav-link" href="#">
				Friends
				<span class="badge badge-pill bg-light align-text-bottom">27</span>
			</a>
			<a class="nav-link" href="#">Explore</a>
			<a class="nav-link" href="#">Suggestions</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
		</nav>
	</div>

	<div class="container-fluid">

		<main class="pt-3" role="main">
			<div class="row">
				<div class="col-sm-4 col-lg-3 my-3 p-3 bg-white rounded shadow-sm">
					<strong class="d-inline-block mb-1 text-black-50">Modelo de negocio</strong>	
					<h5>El País lanza su muro de pago en enero de 2020</h5>
					<p class="font-weight-normal mb-1">El País lanza su muro de pago en enero de 2020. Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam, aenean eu leo quam.</p>
					<a class="text-decoration-none" href="#"><p class="small text-black-50">24 julio</p></a>
					<hr class="mb-0">						
					<strong class="d-inline-block mt-2 mb-1 text-black-50">Modelo de negocio</strong>	
					<h5>El País lanza su muro de pago en enero de 2020</h5>
					<p class="font-weight-normal mb-1">El País lanza su muro de pago en enero de 2020. Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam.</p>
					<a class="text-decoration-none" href="#"><p class="small text-black-50">24 julio</p></a>
					<hr class="strong mb-0">						
					<ul class="list-unstyled">
						<li class="media my-3">
							<div class="media-body">
								<strong>Cras sit amet nibh libero</strong>, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. <a class="text-decoration-none" href="#"> Leer más</a>.
								<a class="text-decoration-none" href="#"><p class="small text-black-50 mt-1">24 julio</p></a>
								<hr class="mb-0">						
							</div>
						</li>
						<li class="media my-3">
							<div class="media-body">
								<strong>Cras sit amet nibh libero</strong>, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a class="text-decoration-none" href="#"> Leer más</a>.
								<hr class="mb-0">						
							</div>
						</li>
						<li class="media my-3">
							<div class="media-body">
								<strong>Cras sit amet nibh libero</strong>, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. <a class="text-decoration-none" href="#"> Leer más</a>.
							</div>
						</li>
					</ul>
				</div>

				<div class="col-sm-8 col-lg-6 my-3">
					<img class="img-fluid" src="https://static01.nyt.com/images/2019/08/08/t-magazine/05tmag-neale-slide-TIM5-copy/05tmag-neale-slide-TIM5-threeByTwoMediumAt2X.jpg" alt="Miguel Carvajal">  
					<strong class="d-inline-block mt-1 mb-2 text-black-50">World</strong>            	
					<h2>
						El País lanza su muro de pago en enero de 2020
					</h2>
					<div class="mb-1 text-muted">Nov 12</div>
					<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
					<h2 class="font-italic">
						El País lanza su muro de pago en enero de 2020
					</h2>
					<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
					<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
					<h2 class="font-italic">
						El País lanza su muro de pago en enero de 2020
					</h2>
					<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
					<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
					<h2 class="font-italic">
						El País lanza su muro de pago en enero de 2020
					</h2>
					<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
					<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
				</div>

				<div class="col-lg-3 ml-auto">
					<aside class="sidebar">
						<div class="p-3 mt-3 mb-3 bg-warning rounded">
							<h4 class="font-italic">¿Qué es esto?</h4>
							<p class="mb-0">Mi libreta de apuntes sobre periodismo, medios y economía de la atención. Un método para guardar enlaces, pistas y herramientas útiles para mi trabajo.</p>
						</div>	
						
						<strong class="d-inline-block mt-2 mb-1 text-primary">Reporter · hacks</strong>	

						<div class="card mb-4 shadow-sm small">
							<img class="img-fluid" src="https://static01.nyt.com/images/2019/08/08/t-magazine/05tmag-neale-slide-TIM5-copy/05tmag-neale-slide-TIM5-threeByTwoMediumAt2X.jpg" alt="Miguel Carvajal">  
							<div class="card-body">
								<p class="card-text"><strong>This is a wider card</strong>. With supporting text below as a natural lead-in to additional content. This content is a little bit longer longer longer. <a class="text-decoration-none" href="#"> Consultar herramienta</a>.</p>
								<div class="d-flex justify-content-between align-items-center">
								<a class="btn btn-light btn-sm mb-1" href="page-category.html">Work</a>
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>

		</main>

	</div>

	{% include pie.html %}

</body>

{% include footer.html %}

</html>