{% include header.html %}

<body class="bg-light" cz-shortcut-listen="true">

{% include nav.html %}

<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom, rgba(1, 5, 14, 0.6) 26.48%, #202021 73.52%),url(assets/images/cover.jpg) no-repeat center top scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-top: 250px;">
    <div class="container pt-3">
    <div class="col-10">	
    <h1 class="bd-title text-white mb-4">Miguel Carvajal. <a class="text-warning" href="investigar.html">Investigar</a>, <a class="text-warning" href="enseñar.html">enseñar</a> y <a class="text-warning" href="transformar.html">transformar</a> el periodismo.</h1>
  	<hr class="border-3 border-white my-4 ml-0 text-left w-25">
    </div>
    </div>
</div>

<div class="container-fluid pt-3">

{% include cover.html %}
{% include social.html %}
{% include cards.html %}

<main class="col-12 col-md-12 col-xl-12 py-md-3 pl-md-5 pr-md-5 bd-content" role="main">

{{ content }}

</main>


<div class="card">
  <div class="card-body">
  <strong>Oficina</strong>. Despacho 16 | Edificio Torreblanca | Avd. Universidad s/n, 03202 Elche (Alicante) · España | Teléfono + 00 34 965 222 415
  </div>
</div>

</div>

{% include pie.html %}

</body>

{% include footer.html %}

</html>