{% include header.html %}

<body class="bg-light" cz-shortcut-listen="true">

	{% include nav.html %}

	<div class="jumbotron jumbotron-fluid mb-0 bg-dark pt-2 pb-2">
		<div class="container">
			<h2 class="display-3"><a class="text-decoration-none text-warning" href="/notas/">{{ page.title }}</a><small class="text-muted"> {{ page.subtitle }}</small></h2>

		</div>
	</div>

	<div class="nav-scroller shadow-sm mb-2" style="background-color: #fdf9f3">
		<nav class="nav nav-underline">
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
                   	<a class="nav-link" href="{{site.baseurl}}/notas/archivo/#{{ category | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} <span class="badge badge-pill bg-white align-text-bottom">{{ site.tags[category].size }}</span></a>
                {% endfor %}
            {% else %}
                {% for category in categories_list %}                        
                    <a class="nav-link" href="{{site.baseurl}}/notas/archivo/#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} <span class="badge badge-pill bg-white align-text-bottom">{{ category[1].size }}</span></a>
                {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
		</nav>
	</div>

	<div class="container-fluid">

		<main class="pt-3" role="main">

			{{ content }}

		</main>

	</div>

	{% include pie.html %}

</body>

{% include footer.html %}

</html>