{% include header.html %}

<body class="bg-light" cz-shortcut-listen="true">

{% include nav.html %}

<div class="container-fluid pt-3">

<main class="col-12 col-md-12 col-xl-12 bd-content px-1" role="main">

        <div id="quiz_container"></div>
        <script type="text/javascript">
                var quiz = jQuery('#quiz_container').quiz('0Arenb9rAosmbdG5GWHFXbWJlN1hTR2ZmN3lZMVZkOHc');
        </script>
        
</main>


</div>

{% include pie.html %}

</body>

{% include footer.html %}

</html>